:root {
    --theme-color-nav: #494949;
    --theme-color-back: #131313;
    --theme-color-keys: #0e4f9e;
    --theme-color-keys-secondary: #8fb3e0;

    --theme-color-text: #fafcff;
    --theme-color-burger: #f1f1f1;
}

html {
    background: var(--theme-color-back);
}

body {
    background: var(--theme-color-back);
}

.navbar {
    background: var(--theme-color-nav);
    height: auto;
}

.navbar .btn {
    background: var(--theme-color-nav);
}

.navbar .burger {
    width: 2em;
    height: 0.2em;
    background-color: var(--theme-color-burger);
    margin: 0.25em 0;
    border-radius: 0.2em;
}

.navbar div {
    background-color: var(--theme-color-nav);
    color: var(--theme-color-text);
}

.navbar input {
    color: var(--theme-color-text);
}

.navbar label {
    color: var(--theme-color-text);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent-parent {
    background: var(--theme-color-back);
    display: flex;
    width: 60vh;
    flex-direction: column;
    margin: auto;
    align-items: stretch;
}

.history-field-row {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 1vh 1vh 0vh 0vh;
    padding-left: 1vh;
    background: var(--theme-color-keys-secondary);
    color: var(--theme-color-text);
    margin: 4vh 1vh 0vh 1vh;
}

.input-field-row {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2.5rem;
    border-radius: 0vh 0vh 1vh 1vh;
    padding-right: 1vh;
    background: var(--theme-color-keys);
    color: var(--theme-color-text);
    margin: 0vh 1vh 0.5vh 1vh;
}

.parent-row {
    height: 10vh;
    width: 60vh;
    display: flex;
    background: var(--theme-color-back);
    margin: 0.5vh 0 0.5vh 0;
}

.child1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    width: 100px;
    margin: 0 0 0 1vh;
    background: var(--theme-color-keys);
    color: var(--theme-color-text);
    flex-grow: 1;
}

.child2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    width: 100px;
    margin: 0 0 0 1vh;
    background: var(--theme-color-keys);
    color: var(--theme-color-text);
    /* flex-grow: 1; */
}

.child3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    width: 100px;
    margin: 0 0 0 1vh;
    background: var(--theme-color-keys);
    color: var(--theme-color-text);
    /* flex-grow: 1; */
}

.child4 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    width: 100px;
    margin: 0 1vh 0 1vh;
    background: var(--theme-color-keys);
    color: var(--theme-color-text);
    /* flex-grow: 1; */
}

.the-zero {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    width: 100px;
    margin: 0 0 0 1vh;
    background: var(--theme-color-keys);
    color: var(--theme-color-text);
    flex-grow: 1;
}

.swatches span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
}
