html {
    background-color: #ffffff;
}

.navbar {
    background: #e71717;
    height: auto;
}

.navbar .btn {
    background: #e71717;
}

.navbar .burger {
    width: 2em;
    height: 0.2em;
    background-color: #1e1e1e;
    margin: 0.25em 0;
    border-radius: 0.2em;
}

.navbar div {
    background-color: #e71717;
}

.navbar input {
    color: #e0d4e4;
}

.navbar label {
    color: #e0d4e4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent-parent {
    display: flex;
    width: 60vh;
    flex-direction: column;
    margin: auto;
    align-items: stretch;
}

.history-field-row {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 1vh 1vh 0vh 0vh;
    padding-left: 1vh;
    background: rgb(212, 212, 212);
    margin: 4vh 1vh 0vh 1vh;
}

.input-field-row {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2.5rem;
    border-radius: 0vh 0vh 1vh 1vh;
    padding-right: 1vh;
    background: rgb(224, 224, 224);
    margin: 0vh 1vh 0.5vh 1vh;
}

.parent-row {
    height: 10vh;
    width: 60vh;
    display: flex;
    background: rgb(255, 255, 255);
    margin: 0.5vh 0 0.5vh 0;
}

.child1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    width: 100px;
    margin: 0 0 0 1vh;
    background: #dadce0;
    flex-grow: 1;
}

.child2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    width: 100px;
    margin: 0 0 0 1vh;
    background: #dadce0;
    /* flex-grow: 1; */
}

.child3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    width: 100px;
    margin: 0 0 0 1vh;
    background: #dadce0;
    /* flex-grow: 1; */
}

.child4 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    width: 100px;
    margin: 0 1vh 0 1vh;
    background: #dadce0;
    /* flex-grow: 1; */
}

.the-zero {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    width: 100px;
    margin: 0 0 0 1vh;
    background: #dadce0;
    flex-grow: 1;
}
